
<%= bootstrap_form_for @contact do |f| %> <!-- Manf <3 Ruby -->
    
  <div class="heading-contact marginbot-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h1 class="center titolone clr"><strong>Get in touch</strong></h1><br/>
        </div>
      </div>
    </div>
  </div>
          
  <div class="container">

    <div class="row">
      <div class="col-md-5 col-md-offset-2"> <!--contact form-->
        <div class="boxed-grey">
          <div class="row">
                          
            <div class="form-group">
              <%= f.text_field :name, :required => true, label: "Your/Company Name", placeholder: 'Enter name' %>
            </div>

            <div class="form-group">    
              <%= f.email_field :email, :required => true, label: "Your Email Address", placeholder: 'Enter email', icon: "envelope" %>
            </div>
                    
            <div class= "hidden">
              <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
            </div>

            <div class="form-group">
              <label for="subject">Subject</label>
              <select id="subject" name="subject" class="form-control" required="required">
                <option value="na" selected="">Choose One:</option>
                <option value="service">General Customer Service</option>
                <option value="suggestions">Suggestions</option>
                <option value="product">Product Support</option>
              </select>
            </div>
          
            <div class="form-group">
              <%= f.text_area :message, :required => true, placeholder: 'Message', control_col: "col-md-6", :input_html => {:rows => 9, :cols => 25} %>
            </div>
          </div>
          <div class="col-md-12">
            <%= f.submit "Send Messsage", :class=> "btn btn-primary btn-skin pull-right send" %>
          </div>
        </div>
      </div> <!-- /contact form-->
              
      <div class="widget-contact row"> <!-- address info--> 
        <div class="col-sx-10 col-sm-10 col-md-4">
        <strong>I.W.S. - Innovating Washing System S.r.l.</strong><br>
          <address>
            Str. Episcop A. Pasha n°10<br/>
            300080 Timisoara<br/>
            <br/>
          </address>
          <u>Worldwide Agent for:</u>
          <br/>
          <address>
            G.M.I. - Glass Market Industries N.V.
            <br/>
            Eikelaarstraat, 23
            <br/>
            3600 Genk
            <br/>
            Belgium
          </address>
        </div>           
        <div class="col-md-6"> </div>
      </div> <!-- /address info-->
    </div>
  </div> 
<% end %> <!-- Manf <3 Ruby -->



